html, body {
    height: 100%;
    /*font-family: 'Microsoft Yahei'*/
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.puzzle_box {
    height: auto;
    width: auto;
}


.p_list {
    /*width: 100%;
    margin: 0;*/
}
.p_list li {
    display: inline-block;
    width: 32%;
    height: auto;
    border: 1px solid #111;
    padding: 0;
}
.p_list li img {
    display: block;
    width: 100%;
    margin: 0 auto;
}
